.game-decks-main {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 20px;
  height: 160px; /* Adjust the width as needed */
}

.game-decks-grid {
  display: flex;
  gap: 20px;
}

.game-deck-item {
  width: 100px; /* Adjust the width as needed */
  background-color: #ededed;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.game-deck-item.selected {
  background-color: lightgreen; /* Change to your preferred color */
}

.game-deck-item h3 {
  font-size: 12px;
  margin: 0;
  color: #333;
}

.game-deck-item p {
  font-size: 12px;
  color: #666;
}

.game-deck-item img {
  max-width: 100%;
  max-height: 200px;
}

.create-deck-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.deck-create-button {
  background-color: #288b21;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 60px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.deck-delete-button {
  position: relative;
  bottom: 10px;
  right: 10px;
  background-color: #cdcdcd;
  color: rgb(142, 142, 142);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}
