.Decks-main {
  min-height: 90vh;
  height: 90%;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.decks-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.deck-item {
  position: relative;
  background-color: #ededed;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  height: 180px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.deck-item h3 {
  font-size: 24px;
  margin: 0;
  color: #333;
}

.deck-item p {
  font-size: 16px;
  color: #666;
}

.deck-item img {
  max-width: 100%;
  max-height: 200px;
}

.create-deck-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.deck-create-button {
  background-color: #288b21;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 60px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.deck-preview {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 10px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-deck-stamp {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: rgb(171, 171, 171);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}
