.Cards-main {
  min-height: 90vh;
  height: 90%;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 90%; /* Set the height to 90% of the window */
  position: relative;
}

.carousel-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-slide {
  background-color: #ededed;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  height: 80vh; /* Set the height to 90% of the window */
  width: 90%; /* Set the width to 90% of the window */
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.carousel-slide h3 {
  font-size: 24px;
  margin: 0;
  color: #333;
}

.carousel-slide p {
  font-size: 16px;
  color: #666;
}

.carousel-slide img {
  max-width: 100%;
  max-height: 400px;
}

.spinner-container {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  height: 90vh; /* 100% of the viewport height to center vertically */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #0077ff; /* Color of the spinner */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
