.admin-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  margin-bottom: 100px;
}

.deck {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #454545;
}

.deck-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  background-color: #f0f0f0;
}

.card-list {
  padding: 10px;
}

.card {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.card input[type="text"] {
  flex: 1;
  margin-right: 10px;
}

.card button {
  margin-left: auto;
  width: 50px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  word-wrap: break-word;
  overflow: hidden;
  min-height: 40px;
  margin-right: 10px;
}

input[type="text"]:hover {
  border-color: #aaa;
}

input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.card-input-fields {
  width: 90%;
}

.toggle-button {
  padding: 10px;
  padding-right: 20px;
}

.admin-create-deck-button {
  background-color: #03927d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.admin-create-button {
  background-color: #28a71f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.admin-delete-button {
  background-color: #9c2e12;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.admin-save-button {
  background-color: #288b21;
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.resize-textarea {
  resize: vertical; /* Allow vertical resizing */
  height: auto;
  min-height: 50px; /* Set a minimum height */
  max-height: 200px; /* Set a maximum height */
  width: 100%; /* Set width as needed */
  padding: 10px; /* Adjust padding as needed */
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border radius */
  font-family: Arial, sans-serif; /* Specify font */
  box-sizing: border-box; /* Include padding and border in total width/height */
  overflow-y: auto; /* Add vertical scrollbar when needed */
}
