.GamePage-main {
  padding-top: 30px;
}

.game-cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 10px;
  padding: 10px;
}

.game-card-item {
  position: relative;
  background-color: #ededed;
  transition: filter;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  height: 120px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.done {
  filter: brightness(80%);
}
.game-card-item.wildcard {
  background-color: #fcd7fc;
}

.game-card-item h3 {
  font-size: 12px;
  margin: 0;
  color: #333;
}

.game-card-item p {
  font-size: 12px;
  color: #666;
}

.game-card-item img {
  max-width: 100%;
  max-height: 200px;
}

.create-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.spinner.small {
  position: absolute;
  top: 25%;
  left: 10px;
  border-top: 4px solid #cfcfcf;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  float: left;
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.create-button {
  background-color: #288b21;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 60px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.card-delete-button {
  position: relative;
  bottom: 10px;
  right: 10px;
  background-color: #cdcdcd;
  color: rgb(142, 142, 142);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.resign-button {
  background-color: #b00000;
  color: white;
  border: none;
  margin-top: 150px;
  margin-bottom: 50px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.card-preview {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 10px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.who-played-mark {
  position: absolute;
  bottom: 5px;
  left: 10px;
  color: rgb(171, 171, 171);
  border-radius: 5px;
  font-size: 10px;
}

.game-stats-block {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid #67676b;
}
