.success-heading {
  font-size: 24px;
  color: green;
}

.success-paragraph {
  font-size: 16px;
  color: #333;
}

.error-message {
  font-size: 16px;
  color: red;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.sign-in-heading {
  font-size: 24px;
  color: #d9d9d9;
}

.need-register {
  color: #d9d9d9;
}

.line {
  text-align: center;
}

.signup-link {
  color: #0077ff;
  text-decoration: none;
  font-weight: bold;
}

label {
  color: #d9d9d9;
}

ul {
  list-style-type: none;
  color: white;
}

.remove-selected {
  color: red;
}

ul.suggestions {
  display: none;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  background: #343434;
  width: calc(100% - 2px);
  max-height: 150px;
  overflow-y: auto;
}

.spinner.small {
  position: absolute;
  top: 25%;
  right: 10px;
  border-top: 4px solid #cfcfcf;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  float: left;
}

.game-list {
  text-align: left;
  list-style: none;
  padding: 0;
}
.game-list-row {
  position: relative;
  text-align: left;
  background-color: #5f5f5f;
  padding: 10px;
  margin-bottom: 10px;
}
.game-title {
  margin: 0;
  font-weight: bold;
  margin-bottom: 5px;
}
.game-participant {
  margin: 0;
  margin-left: 20px;
}

.accept-button {
  background-color: #0077ff;
  position: absolute;
  color: white;
  border: none;
  padding: 10px 10px;
  right: 10px;
  top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
