.registration-section {
  text-align: center;
  padding: 20px;
}

.registration-heading {
  font-size: 24px;
  color: #e0e0e0;
}

.input-container {
  margin: 10px 0;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

.register-input-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 90%;
}

.error-message {
  font-size: 16px;
  color: red;
  margin: 10px 0;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.registration-button {
  background-color: #0077ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.line {
  text-align: center;
}

.signup-link {
  color: #0077ff;
  text-decoration: none;
  font-weight: bold;
}
