.success-heading {
  font-size: 24px;
  color: green;
}

.success-paragraph {
  font-size: 16px;
  color: #333;
}

.error-message {
  font-size: 16px;
  color: red;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.sign-in-heading {
  font-size: 24px;
  color: #d9d9d9;
}

.start-game-button {
  background-color: #288b21;
  color: white;
  border: none;
  margin-top: 150px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.need-register {
  color: #d9d9d9;
}

.line {
  text-align: center;
}

.signup-link {
  color: #0077ff;
  text-decoration: none;
  font-weight: bold;
}

label {
  color: #d9d9d9;
}

ul {
  list-style-type: none;
  color: white;
}

.remove-selected {
  color: red;
}

ul.suggestions {
  display: none;
  position: absolute;
  list-style: none;
  margin: 0;
  border: 1px solid #ccc;
  background: #343434;
  width: calc(100% - 2px);
  max-height: 150px;
  overflow-y: auto;
}
.suggestions li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.spinner.small {
  position: absolute;
  top: 25%;
  right: 10px;
  border-top: 4px solid #cfcfcf;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  float: left;
}

.input-field {
  position: relative;
  z-index: -1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 90%;
}
