.navbar {
  display: flex;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  position: fixed;
  z-index: 1;
  width: 90%;
  top: 0;
}

.menu-toggle {
  flex-direction: column;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  right: 20px;
}

.bar {
  background-color: #fff;
  width: 30px;
  height: 3px;
  margin: 3px 0;
  border-radius: 2px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 45px;
  right: 0;
  left: 0;
  background-color: #333;
  display: none;
  flex-direction: column;
  z-index: 2;
}

.nav-links.active {
  display: flex;
}

.nav-links li {
  margin: 15px 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.App {
  text-align: center;
  height: 100%;
  padding-top: 40px;
}

.login-links {
  color: rgb(106, 106, 255);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.start-game-link {
  text-decoration: none;
  color: white;
  background-color: rgba(220, 220, 220, 0.127);
  cursor: pointer;
  position: absolute;
  right: 70px;
  border: 2px solid rgba(220, 220, 220, 0.504);
  border-radius: 5px;
  padding: 1px 5px 3px 5px;
}

.start-game-link:hover {
  text-decoration: underline;
}

.navigation-button {
  border: none;
  background: none;
  padding: 0;
  font-size: 1.7rem;
  cursor: pointer;
  color: #dcdcdc;
  margin-left: 25px;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #0077ff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.slowness-message {
  text-align: center;
  margin-top: 10px;
}

.navigation-button {
  border: none;
  background: none;
  padding: 0;
  font-size: 1.7rem;
  cursor: pointer;
  color: #dcdcdc;
  margin-left: 35px;
}

.refresh-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  padding: 5px;
  position: absolute;
  left: 10px;
}
